client/dist/public/assets/* filter=lfs diff=lfs merge=lfs -text
client/dist/public/assets/*.glb filter=lfs diff=lfs merge=lfs -text
client/dist/public/assets/*.gltf filter=lfs diff=lfs merge=lfs -text
client/dist/public/assets/*.bin filter=lfs diff=lfs merge=lfs -text
client/dist/public/assets/gltf/pistol/pistol.bin filter=lfs diff=lfs merge=lfs -text
client/dist/public/assets/** filter=lfs diff=lfs merge=lfs -text
./client/dist/public/assets/** filter=lfs diff=lfs merge=lfs -text
client/dist/public/assets/gltf/*.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
