<%- include('../partials/header') %>
  <h1>Sign Up Successful!</h1>
  <p>Your account has been created successfully. Check your email for a verification code.</p>
  <a href="/login"><button>Go to Login</button></a>
  <%- include('../partials/footer') %>